<!DOCTYPE html>
<html>
    <head>
        <title>ReCaptcha Python</title>
    </head>
    <body>
        <form name = "form" method="POST" onsubmit = "return validate_form();">
            <p>"Solve the captcha"</p>
            <img src = "{{ recaptcha }}" sizes="max-height: 500px"><img/>
            <p>
                <input type="text" class="form" id="cap" name = "cap">
            </p>
            <input type="submit" value="Submit">
        </form>
    </body>
    <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>


    <script type="text/javascript">
        function validate_form(captch)
        {
            if (document.form.cap.value.toString() === '{{ captch }}'.toString()) {
                alert("Correct! Now enter activation code in console")
                $.ajax({
                        url: 'captcha_success',
                        type: 'POST'
                    }
                )
            }
            if (document.form.cap.value.toString() !== '{{ captch }}'.toString())
                alert("Try again!")
        }
    </script>
</html>
